/* Import font size is here */

/* Used font family */

body {
    background: #FAFAFA;
    border: 0;
    padding: 0;
    margin: 0;

}

header {
    margin-top: -10px; /* Buradaki eksik değer düzeltildi */
    border: 0;
    padding: 0;
    background: hsl(13, 100%, 72%);
    height: 400px;
    width: 100%;
    border-radius: 0px 0px 0px 70px;
}

ol,li {
    padding-top: 10px;
    margin: 0; /* Buradaki fazla sembol düzeltildi */
    color: hsl(0, 0%, 100%);
    display: flex;
    margin-right: 20px;
}

#end-box {
    color: hsl(353, 100%, 62%);
    background-color: hsl(0, 0%, 100%);
    border: none;
    width: 80px;
    border-radius: 20px;
    height: 20px;
}

h1,p {
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.btn-1 {
    left: 44%;
    position: relative;
    justify-content: center;
    border-radius: 20px;
    height: 30px;
    border: none;
    color: hsl(353, 100%, 62%);
    background: white;
}

.btn-2 {
    left: 45%;
    position: relative;
    background: hsl(13, 100%, 72%);
    width: 100px;
    height: 30px;
    border-radius: 30px;
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 100%);
}

.title {
    color: hsl(208, 49%, 24%);
}

.cap {
    font-size: 16px;
    text-align: start;
    color: #888B8E;
}

.logo {
    height: 30px; /* Yükseklik değeri eklendi */
    width: 65px;
}

h2 {
    font-family: 'Big Shoulders Display', sans-serif;
font-family: 'Epilogue', sans-serif;
font-family: 'Fraunces', serif;
font-family: 'Inter', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Overpass', sans-serif;
font-family: 'Roboto', sans-serif;
    color: hsl(208, 49%, 24%);
}

.arw {
    left: 4px;
    top: 7px;
    position: relative;
    height: 5px;
    width: 10px;
}

.phones {
    position: relative;
    top: 150px;
    background-color: #303145;
    width: 100%;
    height: 300px;
    border-radius: 0px 50px 0px 50px;
}

.phone {

    height: 450px;
    width: 450px;
    position: relative;
    left: 30px;
    top: -125px; /* Eksik piksel değeri eklendi */
}

.phn-text {
   
    top: 65px;
    left: 15%;
    position: relative;
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.vip-text {
    text-align: left;
    font-size: 17px;
    left: 50%;
    top: -135%;
    position: relative;
    color: hsl(0, 0%, 100%);
}

footer {
    top: 500px;
    position: relative;
    border-radius: 0px 50px 0px 0px;
    background-color: hsl(240, 10%, 16%);
    height: 200px;
    width: 100%;
}

.dash-board {
    top: 60%; /* Bu değerlerin orijinal ölçülerle uyumlu olup olmadığını kontrol etmek önemli */
    left:800px;
    position: absolute;
    width: 700px;
    height: 600px;
}
.pc{
    top:193%;
    position: absolute;
    height: 550px;
    width: 800px;
}
.bee-2 , .bee-1{
    font-size:16px ;
    top: 300px;
    position: relative;
    text-align: justify;
    color: #888B8E;
    left: 62%;
}

.desk-1{

    right: 380px;
    top: 300px;
    position: relative;
    text-align: end;
    color: hsl(208, 49%, 24%);
}
.desktop-text{
   
    left: -360px;
    text-align: end;
    top: 300px;
    position: relative;
    color:hsl(208, 49%, 24%);
}

h1{
    font-family: 'Big Shoulders Display', sans-serif;
    font-family: 'Epilogue', sans-serif;
    font-family: 'Fraunces', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.foot , .mi{
    color: red;
}
