
/* font fa*/

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,500&family=Inter:wght@200;400&family=Karla:wght@400;700&family=Libre+Franklin:wght@300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700;800&family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,500&family=Inter:wght@200;400&family=Karla:wght@400;700&family=Libre+Franklin:wght@300&display=swap');



body{
    background-color:hsl(0, 0%, 98%);
    }
    


    ol , li {
     font-family: 'Epilogue', sans-serif;
    font-family: 'Fraunces', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Libre Franklin', sans-serif;  


    margin-top: 20px;
    color: hsl(0, 0%, 41%);
    display: flex;
    margin-left: 40px;

     }

    h1{
        font-weight: bold;
        font-family: 'Epilogue', sans-serif;
        font-family: 'Fraunces', serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Karla', sans-serif;
        font-family: 'Libre Franklin', sans-serif;
    font-size: 80px;
    margin-left: 60px;
    display: flex;
    margin-top: 180px;

    }

  img{
    position: relative;
     left: 730px;
     top: -390px;
    height: 550px;
    width: 600px;
     }

        p{
            margin-left: 70;
            display: flex;
            font-size: 25px;
            color: hsl(0, 0%, 41%);
        }