

.top-content{
    background:url(images/desktop/image-header.jpg);
    height: 600px;
    width: 100%;
    background-size:cover
}



.trasform{
    background: green;
    height: 500px;
    width: 100%;
}


.stand-up{
    background: rgb(240, 74, 204);
    height:500px;
    width: 100%;

}


.two-images{
    background: orange;
    height: 500px;
    width: 100%;
}



.testominal{
    background: hsl(0, 0%, 100%);
    height: 600px;
    width: 100%;
}



.four-images{
    display: flex;
    background: red;
    height: 300px;
    width: 100%;
}



footer{
    background: #90D4C5;
    height: 300px;
    width: 100%;
}


.four-images , img{
    flex: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

img{
    width: 100px;
    height: 350px;
}
/*box is here left - right  !!!!!*/






.left-0{
    background-size: contain;
    background-repeat: no-repeat;;
    height: 500px;
    width: 800px;
    background-size: cover;
    background-color: hsl(0, 0%, 100%);
}



.left-1{
    height: 500px;
    width: 800px;
    display: flex;
    background-size: cover;
    background: url(images/desktop/image-stand-out.jpg);
}


.left-2{
    background-size: cover;
    height: 500px;
    width: 800px;
    display: flex;
    background-size: cover;
    background: url(images/desktop/image-graphic-design.jpg);
}


/* right box is here now */


.right-0{
    height: 500px;
    width: 770px;
    background-color: hsl(0, 0%, 100%);
    left: 51%;
    position: relative;
}

.right-2{
    top: -500px;
    background-size: cover;
    height: 500px;
    width: 770px;
    background:url(images/desktop/image-photography.jpg);
    left: 51%;
    position: relative;
}




/*details here*/


h1{

    color: white;
    text-align: center;
}


p{
    font-size: 16px;
}


ol , li {
    margin-top: 10px;
    justify-content: end;
    display: flex;
    margin-left: 30px;
}


a{
    text-decoration: none;
    color: white;
}


.ad , .ft  {
    margin-top: 10px;
    justify-content: center;
    display: flex;
    margin-left: 30px;
    color: green;
}



.ad:hover{
    color: white;
}


/*resporsive 375px width code mobile digsean used*/


