.orange{
    background: url(images/desktop/image-header.jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
}

ol , li {
    margin-left: 40px;
    justify-content: end;
    display: flex;
    color: white;
}

.egg{
    top: -455px;
    left:720px;
    background-size: cover;
    height: 450px;
    width: 710px;
    background: url(images/desktop/image-transform.jpg);
    position: relative;
}
.text-1{
    background-color: pink;
    width: 800px;
    height: 450px;

}

.pink-cup{
    top: -500px;
    position: relative;
    background-size: cover;
    height: 454px;
    width: 720px;
    background: url(images/desktop/image-stand-out.jpg);
}